.about__main{
    padding: 15em 0em;
    width: 100%;
    min-height: 100vh;
    background-color:#0C0F3D;
}
.about_head h1{
    font-size: 4rem;
}
.about_head span{
    font-weight: bold;
    color: #f7931a;
}
.about_head p{
    padding-top: 2em;
    line-height: 1.3em;
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
}
.about_head{
    padding-bottom: 5em;
} 
.about_h1{
    font-size: 1em;
}



@media screen and (max-width: 768px){
    .about_h1{
        font-size: 0.6em;
    }
    .about_head h1{
        font-size: 2rem;
    }
    .about_head span{
        font-weight: bold;
        color: #f7931a;
    }
    .about__main{
        padding: 14em 0em;
        width: 100%;
        min-height: 100vh;
        background-color:#0C0F3D;
    }
 
}