.faqs__main{
    padding: 20em 0;
    min-height: 100vh;
    background-color:#0C0F3D;
}
.mainfaq__box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 4em;
    padding: 8em 0;
}
.faqs__box{
    padding: 3em 0;
    width: 80%;
    margin: 0 auto;
    min-height: 10vh;
    background-color:#060826;
    box-shadow: 0 5px  5px rgba(255, 196, 0, 0.5);
}
.faqs__box h1{
    color: #f7931a;
}
.faqSection span{
    color: #f7931a;
}
.faqs__box ul li{
    padding: 2em 0;
}

@media screen and (max-width: 768px){
    .mainfaq__box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 4em;
        padding: 8em 0;
    }
    .faqs__box{
    padding: 3em 0;
    width: 95%;
    margin: 0 auto;
    min-height: 10vh;
    background-color:#060826;
    box-shadow: 0 5px  5px rgba(255, 196, 0, 0.5);
}
}