
.login__main{
    padding: 11em 0em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: -3em;
    
    background-color: #0b0d31;
    min-height: 100vh;
}
.login__section_1{
 background-color: #268188;
 /* border-right-color: red; */
}
.login_section_2{
 background-color: #9a9cc2;   
}
img{
    width: 100%;
}
.login__main span{
    color: #f7931a;
}
.myForms input{
    border: none;
    border-bottom: 2px solid blue;
    width: 400px;
    height: 35px;
}
.login__forms{
    padding-left: 0em;
}
.myForms input:focus{
    outline: none;
}
.log__btn{
    padding: 2em 0;
}
.log__btn a{
    margin-right: 1.5em;
}
.login__box_1{
    padding-top: 2em;
}

@media screen and (max-width: 768px){
    .login__main{
        padding: 10em 0em;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        background-color: #0b0d31;
        min-height: 80vh;
        grid-template-areas: 
        'login_section_2';
    }
    .login_section_2{
        grid-area: login_section_2;
    }
    .myForms input{
        border: none;
        border-bottom: 2px solid blue;
        width: 90%;
        height: 35px;
    }
}